/*Source: https://bootsnipp.com/snippets/x8pBm*/

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0;
    position: relative;
    width: 32px;
}

/* Track */
.material-switch > label::before {
    background: #000000;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    content: '';
    height: 14px;
    margin-top: -7px;
    position:absolute;
    opacity: 0.38;
    transition: all 0.4s ease-in-out;
    width: 32px;
}

.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}

.material-switch > input[type="checkbox"]:disabled + label::before {
    background-color: #000000;
    opacity: 0.12;
}

/* Thumb */
.material-switch > label::after {
    background: #FAFAFA;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    content: '';
    height: 20px;
    left: -4px;
    margin-top: -6px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 20px;
}

.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 16px;
}

.material-switch > input[type="checkbox"]:disabled + label::after {
    background: #BDBDBD;
}